/*-----------------RESPONSIVE*/

$mob: 425px;
$tablet: 768px;
$laptop-small: 1024px;
$laptop: 1440px;

$medium-screens-mob: 425px + 1;
$laptop-screens-laptop-small: 1024px - 1;
$laptop-screens-laptop-big: 1440px + 1;

@mixin respond-to($media) {
  @if $media == mob {
    @media only screen and (max-width: $mob) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $medium-screens-mob) and (max-width: $tablet) { @content; }
  }
  @else if $media == laptop-screens {
    @media only screen and (min-width: $laptop-screens-laptop-small) and (max-width: $laptop-screens-laptop-big) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $laptop) { @content; }
  }
}

/*-----------------FOOTER*/

footer {
  background-color: #484f5b;
  color: white;
  padding: 3% 0%;
}

#FooterWrapp {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  @include respond-to(mob) { 
    width: 90%;
  }
  @include respond-to(medium-screens) { 
    width: 90%;
  }
  @include respond-to(laptop-screens) { 
    width: 85%;
  }
  @include respond-to(wide-screens) { 
    width: 85%;
  }
}

footer a, footer a:active {
  color: white;
  text-decoration: none;
  margin: 10% 0%;
}

.FooterLinks {
  display: flex;
  flex-direction: column;
}

#CompanyInfo {
  @include respond-to(mob) { 
    width: 90%;
  }
  @include respond-to(medium-screens) { 
  
  }
  @include respond-to(laptop-screens) { 
  
  }
  @include respond-to(wide-screens) { 
  
  }
}

#CompanyInfo p {
  margin: 10% 0%;
  @include respond-to(mob) { 
    margin-bottom: 0%;
  }
  @include respond-to(medium-screens) { 
  
  }
  @include respond-to(laptop-screens) { 
  
  }
  @include respond-to(wide-screens) { 
  
  }
}

#FooterWrapp > div:last-child {
  margin-top: auto;
}

#FooterLinksSocialIcons {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 7%;
}

#FooterLinksSocialIcons img {
  height: 25px;
  width: 25px;
}