/*-----------------RESPONSIVE*/
/*-----------------LAYOUT*/
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Arial', sans-serif;
}

body {
  overflow-x: hidden;
}

/*-----------------------SCROLL*/
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

@media only screen and (max-width: 425px) {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 50px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 50px;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: #dfdfdf;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4a198;
}

@media only screen and (max-width: 425px) {
  ::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: #8e8e8e;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  ::-webkit-scrollbar-thumb {
    background: #8e8e8e;
  }
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e5ccc6;
}

/*-----------------RESPONSIVE*/
/*-----------------HEADER*/
header {
  background-color: white;
}

#HeaderTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin: auto;
  padding-top: 1.5%;
}

#HeaderTop > div:first-child {
  width: 40%;
}

#HeaderTop > div:nth-child(2) {
  width: 90%;
  margin: auto;
}

#HeaderBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin: auto;
  padding: 3% 0%;
}

@media only screen and (max-width: 425px) {
  #HeaderBottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #HeaderBottom {
    width: 90%;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  #HeaderBottom {
    width: 85%;
  }
}

#HeaderBottomLeft img {
  width: 90%;
}

#HeaderBottomRight {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

@media only screen and (max-width: 425px) {
  #HeaderBottomRight {
    width: 90%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #HeaderBottomRight {
    width: 50%;
  }
}

#HeaderBottomRight p {
  margin: 10% 0%;
}

#HeaderBottomRight h1 {
  font-size: 55px;
  font-weight: 600;
  text-transform: capitalize;
}

@media only screen and (max-width: 425px) {
  #HeaderBottomRight h1 {
    font-size: 35px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #HeaderBottomRight h1 {
    font-size: 35px;
  }
}

#HeaderBottomRight button {
  padding: 2% 4%;
  background-color: #f1cec8;
  border: 1px solid #f1cec8;
  color: #484f5b;
  font-weight: 900;
  text-transform: uppercase;
}

#HeaderBottomRight button:hover {
  background-color: #f3d9d5;
  border: 1px solid #f3d9d5;
  cursor: pointer;
}

.Logo img {
  width: 70px;
}

/*-----------------RESPONSIVE*/
/*-----------------NAV*/
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav a, nav a:active {
  text-decoration: none;
  color: #696969;
}

nav a:hover {
  color: #9e9a9a;
}

@media only screen and (max-width: 425px) {
  #Nav {
    display: none;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #Nav {
    display: block;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  #Nav {
    display: block;
  }
}

@media only screen and (min-width: 1440px) {
  #Nav {
    display: block;
  }
}

#MobNavWrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 425px) {
  #MobNavWrapp {
    width: 90%;
  }
}

@media only screen and (max-width: 425px) {
  #MobNav {
    display: none;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    text-align: center;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #MobNav {
    display: none;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  #MobNav {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  #MobNav {
    display: none;
  }
}

#MobNav nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 425px) {
  #MobNavHamb {
    display: block;
    cursor: pointer;
    margin-left: auto;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #MobNavHamb {
    display: none;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  #MobNavHamb {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  #MobNavHamb {
    display: none;
  }
}

#MobNavHamb img {
  width: 45px;
}

/*-----------------RESPONSIVE*/
/*-----------------MAIN*/
h1, h2, h3, h4, h5 {
  color: #484f5b;
}

#SectionOne {
  background-image: url("../images/pregnant-women.jpg");
  background-position: center;
  background-size: cover;
  padding: 10% 0%;
}

.SectionWrappOne {
  width: 70%;
  margin: auto;
}

@media only screen and (max-width: 425px) {
  .SectionWrappOne {
    width: 90%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .SectionWrappOne {
    width: 90%;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  .SectionWrappOne {
    width: 85%;
  }
}

@media only screen and (min-width: 1440px) {
  .SectionWrappOne {
    width: 85%;
  }
}

.SectionWrappOne h1 {
  font-size: 55px;
  font-weight: 600;
  text-transform: capitalize;
}

@media only screen and (max-width: 425px) {
  .SectionWrappOne h1 {
    font-size: 45px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .SectionWrappOne h1 {
    font-size: 45px;
  }
}

.SectionWrappOne p {
  margin: 3% 0%;
  width: 30%;
}

@media only screen and (max-width: 425px) {
  .SectionWrappOne p {
    width: 90%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .SectionWrappOne p {
    width: 50%;
  }
}

.SectionWrappOne button {
  padding: 0.6% 1.2%;
  background-color: #f1cec8;
  border: 1px solid #f1cec8;
  color: #484f5b;
  font-weight: 900;
  text-transform: uppercase;
}

@media only screen and (max-width: 425px) {
  .SectionWrappOne button {
    padding: 1.5% 2%;
  }
}

.SectionWrappOne button:hover {
  background-color: #f3d9d5;
  border: 1px solid #f3d9d5;
  cursor: pointer;
}

#SectionTwo {
  padding: 4% 0%;
}

@media only screen and (max-width: 425px) {
  #SectionTwo {
    padding: 7% 0%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #SectionTwo {
    padding: 6% 0%;
  }
}

.SectionWrappTwo p {
  text-align: center;
  padding: 2% 0%;
}

@media only screen and (max-width: 425px) {
  .SectionWrappTwo p {
    width: 90%;
    margin: auto;
  }
}

.SectionWrappTwo h1 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

#SectionThree {
  background-color: #e5ccc6;
  padding: 6% 0%;
}

@media only screen and (max-width: 425px) {
  #SectionThree {
    padding: 10% 0%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #SectionThree {
    padding: 8% 0%;
  }
}

.SectionWrappThree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin: auto;
}

@media only screen and (max-width: 425px) {
  .SectionWrappThree {
    width: 90%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .SectionWrappThree {
    width: 90%;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  .SectionWrappThree {
    width: 85%;
  }
}

@media only screen and (min-width: 1440px) {
  .SectionWrappThree {
    width: 85%;
  }
}

.SectionWrappThree > div:last-child {
  margin-left: 4%;
  margin-top: 2%;
}

#YogaTraining h1 {
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
}

#YogaTraining p {
  margin: 6% 0%;
  width: 65%;
}

#SectionFour {
  background-color: #e9e8e6;
  padding: 4% 0%;
}

@media only screen and (max-width: 425px) {
  #SectionFour {
    padding: 7% 0%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #SectionFour {
    padding: 6% 0%;
  }
}

#SectionFour h1 {
  font-size: 55px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

@media only screen and (max-width: 425px) {
  #SectionFour h1 {
    font-size: 45px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #SectionFour h1 {
    font-size: 45px;
  }
}

.SectionWrappFour {
  width: 70%;
  margin: auto;
}

@media only screen and (max-width: 425px) {
  .SectionWrappFour {
    width: 90%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .SectionWrappFour {
    width: 90%;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  .SectionWrappFour {
    width: 85%;
  }
}

@media only screen and (min-width: 1440px) {
  .SectionWrappFour {
    width: 85%;
  }
}

#Programs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 3%;
}

#Programs:nth-child(2) .Program:last-child {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media only screen and (max-width: 425px) {
  #Programs > .Program {
    width: 80%;
    margin: auto;
    margin-top: 2%;
  }
}

.Program {
  width: 25%;
  text-align: center;
  background-color: white;
  -webkit-box-shadow: 5px 4px 12px 0px #8080804a;
          box-shadow: 5px 4px 12px 0px #8080804a;
}

@media only screen and (max-width: 425px) {
  .Program {
    width: 30%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .Program {
    width: 30%;
  }
}

@media only screen and (max-width: 425px) {
  #Programs > .Program img {
    height: 450px;
    width: 100%;
  }
}

.Program img {
  height: 480px;
  width: 100%;
}

@media only screen and (max-width: 425px) {
  .Program img {
    height: 170px;
    width: 100%;
  }
}

.Program h3 {
  font-size: 22px;
  margin: 4% 0%;
}

@media only screen and (max-width: 425px) {
  .Program h3 {
    font-size: 18px;
  }
}

.ProgramText {
  padding: 5%;
}

#SectionFive {
  background-color: #e5ccc6;
  padding: 4% 0%;
}

@media only screen and (max-width: 425px) {
  #SectionFive {
    padding: 7% 0%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #SectionFive {
    padding: 6% 0%;
  }
}

#SectionFive h1 {
  text-align: center;
  font-size: 55px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

@media only screen and (max-width: 425px) {
  #SectionFive h1 {
    font-size: 45px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #SectionFive h1 {
    font-size: 45px;
  }
}

.SectionWrappFive {
  width: 70%;
  margin: auto;
}

@media only screen and (max-width: 425px) {
  .SectionWrappFive {
    width: 90%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .SectionWrappFive {
    width: 90%;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  .SectionWrappFive {
    width: 85%;
  }
}

@media only screen and (min-width: 1440px) {
  .SectionWrappFive {
    width: 85%;
  }
}

.SocialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25%;
}

@media only screen and (max-width: 425px) {
  .SocialIcons {
    width: 35%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .SocialIcons {
    width: 35%;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  .SocialIcons {
    width: 35%;
  }
}

.SocialIcon {
  cursor: pointer;
}

@media only screen and (max-width: 425px) {
  #Video {
    width: 100%;
  }
}

@media only screen and (max-width: 425px) {
  #Video iframe {
    width: 100%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #Video iframe {
    width: 350px;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  #Video iframe {
    width: 450px;
  }
}

/*-----------------RESPONSIVE*/
/*-----------------FOOTER*/
footer {
  background-color: #484f5b;
  color: white;
  padding: 3% 0%;
}

#FooterWrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
  margin: auto;
}

@media only screen and (max-width: 425px) {
  #FooterWrapp {
    width: 90%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #FooterWrapp {
    width: 90%;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  #FooterWrapp {
    width: 85%;
  }
}

@media only screen and (min-width: 1440px) {
  #FooterWrapp {
    width: 85%;
  }
}

footer a, footer a:active {
  color: white;
  text-decoration: none;
  margin: 10% 0%;
}

.FooterLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 425px) {
  #CompanyInfo {
    width: 90%;
  }
}

#CompanyInfo p {
  margin: 10% 0%;
}

@media only screen and (max-width: 425px) {
  #CompanyInfo p {
    margin-bottom: 0%;
  }
}

#FooterWrapp > div:last-child {
  margin-top: auto;
}

#FooterLinksSocialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  margin-top: 7%;
}

#FooterLinksSocialIcons img {
  height: 25px;
  width: 25px;
}

/*-----------------RESPONSIVE*/
/*-----------------SLIDER*/
.GallerySlider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  margin: auto;
  margin-top: 1%;
}

@media only screen and (max-width: 425px) {
  .GallerySlider {
    width: 90%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .GallerySlider {
    width: 90%;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  .GallerySlider {
    width: 85%;
  }
}

@media only screen and (min-width: 1440px) {
  .GallerySlider {
    width: 85%;
  }
}

#GallerySliderDots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2%;
}

@media only screen and (max-width: 425px) {
  #GallerySliderDots {
    margin-top: 5%;
  }
}

.GalleryDot {
  border-radius: 100%;
  border: 2px solid #e5ccc6;
  background-color: #e5ccc6;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.GalleryDot:nth-child(2), .GalleryDot:nth-child(3) {
  background-color: transparent;
}

.GalleryDot:nth-child(2) {
  margin: 0% 1%;
}

#GallerySlider2 {
  display: none;
}

#GallerySlider3 {
  display: none;
}

.GallerySlider p {
  font-size: 12px;
}

/*-----------------RESPONSIVE*/
/*-----------------ACCORDION*/
.Accordion {
  padding: 1.5%;
  background-color: white;
  margin-top: 1%;
  color: #525252;
}

@media only screen and (max-width: 425px) {
  .Accordion {
    padding: 3.5%;
  }
}

.AccordionTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.AccordionPlus {
  border-radius: 100%;
  border: 2px solid #525252;
  padding: 0.4%;
  height: 25px;
  width: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-right: 1%;
}

.AccordionPlus p {
  margin: auto;
  color: #525252;
  font-weight: 700;
  font-size: 18px;
}

#AccordionText1, #AccordionText2, #AccordionText3 {
  display: none;
}

.AccordionText {
  width: 80%;
  margin-left: 1%;
  margin-top: 1%;
}

.AccordionTitle {
  margin-left: 1%;
}

.AccordionTitle h2 {
  margin-top: auto;
  margin-bottom: auto;
}
/*# sourceMappingURL=index.css.map */