/*-----------------RESPONSIVE*/

$mob: 425px;
$tablet: 768px;
$laptop-small: 1024px;
$laptop: 1440px;

$medium-screens-mob: 425px + 1;
$laptop-screens-laptop-small: 1024px - 1;
$laptop-screens-laptop-big: 1440px + 1;

@mixin respond-to($media) {
  @if $media == mob {
    @media only screen and (max-width: $mob) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $medium-screens-mob) and (max-width: $tablet) { @content; }
  }
  @else if $media == laptop-screens {
    @media only screen and (min-width: $laptop-screens-laptop-small) and (max-width: $laptop-screens-laptop-big) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $laptop) { @content; }
  }
}

/*-----------------MAIN*/

h1, h2, h3, h4, h5 {
  color: #484f5b;
}

#SectionOne {
  background-image: url('../images/pregnant-women.jpg');
  background-position: center;
  background-size: cover;
  padding: 10% 0%;
}

.SectionWrappOne {
  width: 70%;
  margin: auto;
  @include respond-to(mob) { 
    width: 90%;
  }
  @include respond-to(medium-screens) { 
    width: 90%;
  }
  @include respond-to(laptop-screens) { 
    width: 85%;
  }
  @include respond-to(wide-screens) { 
    width: 85%;
  }
}

.SectionWrappOne h1 {
  font-size: 55px;
  font-weight: 600;
  text-transform: capitalize;
  @include respond-to(mob) { 
    font-size: 45px;
  }
  @include respond-to(medium-screens) { 
    font-size: 45px;
  }
  @include respond-to(laptop-screens) { 
  
  }
  @include respond-to(wide-screens) { 
  
  }
}

.SectionWrappOne p {
  margin: 3% 0%;
  width: 30%;
  @include respond-to(mob) { 
    width: 90%;
  }
  @include respond-to(medium-screens) { 
    width: 50%;
  }
  @include respond-to(laptop-screens) { 
  
  }
  @include respond-to(wide-screens) { 
  
  }
}

.SectionWrappOne button {
  padding: 0.6% 1.2%;
  background-color: #f1cec8;
  border: 1px solid #f1cec8;
  color: #484f5b;
  font-weight: 900;
  text-transform: uppercase;
  @include respond-to(mob) { 
    padding: 1.5% 2%;
  }
  @include respond-to(medium-screens) { 
  
  }
  @include respond-to(laptop-screens) { 
  
  }
  @include respond-to(wide-screens) { 
  
  }
}

.SectionWrappOne button:hover {
  background-color: #f3d9d5;
  border: 1px solid #f3d9d5;
  cursor: pointer;
}

#SectionTwo {
  padding: 4% 0%;
  @include respond-to(mob) { 
    padding: 7% 0%;
  }
  @include respond-to(medium-screens) { 
    padding: 6% 0%;
  }
  @include respond-to(laptop-screens) { 
  
  }
  @include respond-to(wide-screens) { 
  
  }
}

.SectionWrappTwo p {
  text-align: center;
  padding: 2% 0%;
  @include respond-to(mob) { 
    width: 90%;
    margin: auto;
  }
  @include respond-to(medium-screens) { 
  
  }
  @include respond-to(laptop-screens) { 
  
  }
  @include respond-to(wide-screens) { 
  
  }
}

.SectionWrappTwo h1{
  font-size: 40px;
  font-weight: 600;
  text-align: center;

}

#SectionThree {
  background-color: #e5ccc6;
  padding: 6% 0%;
  @include respond-to(mob) { 
    padding: 10% 0%;
  }
  @include respond-to(medium-screens) { 
    padding: 8% 0%;
  }
  @include respond-to(laptop-screens) { 
  
  }
  @include respond-to(wide-screens) { 
  
  }
}

.SectionWrappThree {
  display: flex;
  width: 70%;
  margin: auto;
  @include respond-to(mob) { 
    width: 90%;
    flex-wrap: wrap;
  }
  @include respond-to(medium-screens) { 
    width: 90%;
  }
  @include respond-to(laptop-screens) { 
    width: 85%;
  }
  @include respond-to(wide-screens) { 
    width: 85%;
  }
}

.SectionWrappThree > div:last-child {
  margin-left: 4%;
  margin-top: 2%;
}

#YogaTraining h1 {
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
}

#YogaTraining p {
  margin: 6% 0%;
  width: 65%;
}

#SectionFour {
  background-color: #e9e8e6;
  padding: 4% 0%;
  @include respond-to(mob) { 
    padding: 7% 0%;
  }
  @include respond-to(medium-screens) { 
    padding: 6% 0%;
  }
  @include respond-to(laptop-screens) { 
  
  }
  @include respond-to(wide-screens) { 
  
  }
}

#SectionFour h1 {
  font-size: 55px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  @include respond-to(mob) { 
    font-size: 45px;
  }
  @include respond-to(medium-screens) { 
    font-size: 45px;
  }
  @include respond-to(laptop-screens) { 
  
  }
  @include respond-to(wide-screens) { 
  
  }
}

.SectionWrappFour {
  width: 70%;
  margin: auto;
  @include respond-to(mob) { 
    width: 90%;
  }
  @include respond-to(medium-screens) { 
    width: 90%;
  }
  @include respond-to(laptop-screens) { 
    width: 85%;
  }
  @include respond-to(wide-screens) { 
    width: 85%;
  }
}

#Programs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3%;
}

#Programs:nth-child(2) .Program:last-child {
  background-color: transparent;
  box-shadow: none;
}

#Programs > .Program {
  @include respond-to(mob) { 
    width: 80%;
    margin: auto;
    margin-top: 2%;
  }
  @include respond-to(medium-screens) { 
  
  }
  @include respond-to(laptop-screens) { 
  
  }
  @include respond-to(wide-screens) { 
  
  }
}

.Program {
  width: 25%;
  text-align: center;
  background-color: white;
  box-shadow: 5px 4px 12px 0px #8080804a;
  @include respond-to(mob) { 
    width: 30%;
  }
  @include respond-to(medium-screens) { 
    width: 30%;
  }
  @include respond-to(laptop-screens) { 
  
  }
  @include respond-to(wide-screens) { 
  
  }
}

#Programs > .Program img {
  @include respond-to(mob) { 
    height: 450px;
    width: 100%;
  }
  @include respond-to(medium-screens) { 
  
  }
  @include respond-to(laptop-screens) { 
  
  }
  @include respond-to(wide-screens) { 
  
  }
}

.Program img {
  height: 480px;
  width: 100%;
  @include respond-to(mob) { 
    height: 170px;
    width: 100%;
  }
  @include respond-to(medium-screens) { 
  
  }
  @include respond-to(laptop-screens) { 
  
  }
  @include respond-to(wide-screens) { 
  
  }
}

.Program h3 {
  font-size: 22px;
  margin: 4% 0%;
  @include respond-to(mob) { 
    font-size: 18px;
  }
  @include respond-to(medium-screens) { 
  
  }
  @include respond-to(laptop-screens) { 
  
  }
  @include respond-to(wide-screens) { 
  
  }
}

.ProgramText {
  padding: 5%;
}

#SectionFive {
  background-color: #e5ccc6;
  padding: 4% 0%;
  @include respond-to(mob) { 
    padding: 7% 0%;
  }
  @include respond-to(medium-screens) { 
    padding: 6% 0%;
  }
  @include respond-to(laptop-screens) { 
  
  }
  @include respond-to(wide-screens) { 
  
  }
}

#SectionFive h1 {
  text-align: center;
  font-size: 55px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  @include respond-to(mob) { 
    font-size: 45px;
  }
  @include respond-to(medium-screens) { 
    font-size: 45px;
  }
  @include respond-to(laptop-screens) { 
  
  }
  @include respond-to(wide-screens) { 
  
  }
}

.SectionWrappFive {
  width: 70%;
  margin: auto;
  @include respond-to(mob) { 
    width: 90%;
  }
  @include respond-to(medium-screens) { 
    width: 90%;
  }
  @include respond-to(laptop-screens) { 
    width: 85%;
  }
  @include respond-to(wide-screens) { 
    width: 85%;
  }
}

.SocialIcons {
  display: flex;
  justify-content: space-between;
  width: 25%;
  @include respond-to(mob) { 
    width: 35%;
  }
  @include respond-to(medium-screens) { 
    width: 35%;
  }
  @include respond-to(laptop-screens) { 
    width: 35%;
  }
  @include respond-to(wide-screens) { 

  }
}

.SocialIcon {
  cursor: pointer;
}

#Video {
  @include respond-to(mob) { 
    width: 100%;
  }
  @include respond-to(medium-screens) { 
  
  }
  @include respond-to(laptop-screens) { 
  
  }
  @include respond-to(wide-screens) { 
  
  }
}

#Video iframe {
  @include respond-to(mob) { 
    width: 100%;
  }
  @include respond-to(medium-screens) { 
    width: 350px;
  }
  @include respond-to(laptop-screens) { 
    width: 450px;
  }
  @include respond-to(wide-screens) { 
  
  }
}